# Database Programming with MYSQL

1. Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [1]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                             password='Sravan87630@',
                             host='127.0.0.1',
                             database='problem1'
                            )

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D78EC39850>

In [2]:
curs=conn.cursor()

In [3]:
curs

In [4]:
curs.execute("Create table Purchase(purchase_date date, product_id int primary key auto_increment , quantity int , amount int)")

ProgrammingError: 1050 (42S01): Table 'purchase' already exists

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [5]:
curs.execute("Create table Inventory(product_id int primary key auto_increment ,product_name varchar(100), quantity int , unit_price int)")

ProgrammingError: 1050 (42S01): Table 'inventory' already exists

In [6]:
curs.execute("show tables")
for i in curs:
    print(i)

('inventory',)
('purchase',)
('sales',)

In [7]:
curs.execute("Create table Sales(sale_id int ,product_id int primary key auto_increment ,product_name varchar(100), sale_quantity int , revenue int)")

ProgrammingError: 1050 (42S01): Table 'sales' already exists

In [8]:
curs.execute("show tables")
for i in curs:
    print(i)

('inventory',)
('purchase',)
('sales',)

In [9]:
conn.commit()

# 2. Customer Order Processing

Scenario: You are building a customer order processing system for an e-commerce company. The system needs to interact with a MySQL database to store customer orders, products, and order details.

In [ ]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                             password='Sravan87630@',
                             host='127.0.0.1',
                             database='problem2'
                            )

print(conn)

In [ ]:
curs=conn.cursor()

In [ ]:
curs

In [ ]:
curs.execute("Create table Customers(customer_id int primary key auto_increment ,customer_name varchar(50), customer_location varchar(100))")

In [ ]:
curs.execute("Create table Products(product_id int primary key auto_increment ,product_name varchar(50) ,product_cost int, quantity int) ")

In [ ]:
curs.execute("Create table Orders(order_id int primary key auto_increment ,order_date date,customer_id int,order_cost int, foreign key(customer_id)references Customers(customer_id))")

In [ ]:
curs.execute("Create table Customer_orders(custorder_id int primary key auto_increment ,order_id int ,product_id int ,order_date date,quantity int,price int, foreign key(order_id) references Orders(order_id),foreign key(product_id) references Products(product_id))")

In [ ]:
curs.execute("show tables")
for i in curs:
    print(i)

In [ ]:
insert="insert into Customers(customer_name,customer_location) values(%s,%s)"
val=[('Sravan','Goa'),('Paven','Banglore')]
curs=conn.cursor()
curs.executemany(insert,val)

conn.commit()

print(curs.rowcount,'is inserted now')

In [ ]:
insert1="insert into Products(product_name,product_cost,quantity) values(%s,%s,%s)"
val1=[('Laptop',50000,10),
     ('Books',500,25),
     ('Smartphones',15000,30)
    ]
curs=conn.cursor()
curs.executemany(insert1,val1)

conn.commit()
curs.close()

print(curs.rowcount,'is inserted now')

In [ ]:
insert_query = "INSERT INTO Orders (order_date, order_cost) VALUES (%s, %s)"

order_data = [
    ('2023-09-15', 500),
    ('2023-09-16', 1200),
    ('2023-09-17', 750)
]

curs = conn.cursor()

curs.executemany(insert_query, order_data)

conn.commit()
curs.close()

print(curs.rowcount, 'rows inserted into Orders table')

In [ ]:
insert_query = "INSERT INTO Customer_orders (order_id, product_id, quantity, order_cost, price) VALUES (%s, %s, %s, %s, %s)"

order_details_data = [
    (1, 1, 3, 150, 450),
    (2, 2, 2, 25, 50),
    (3, 3, 5, 10, 50)
]


curs = conn.cursor()

curs.executemany(insert_query, order_details_data)

conn.commit()
curs.close()

print(curs.rowcount, 'rows inserted into OrderDetails table')

In [ ]:
def place_order(customer_id, product_id, quantity_ordered):

    curs = conn.cursor()

    curs.execute("SELECT price, quantity_in_stock FROM Products WHERE product_id = %s", (product_id,))
    result = curs.fetchone()

    if result is None:
        print("Product not found.")
    else:
        price, quantity_in_stock = result
        if quantity_ordered > quantity_in_stock:
            print("Product not available in the required quantity.")
        else:
            total_price = price * quantity_ordered

            curs.execute("INSERT INTO Orders (customer_id, order_date, total_cost) VALUES (%s, CURDATE(), %s)", (customer_id, total_price))
            order_id = curs.lastrowid
            curs.execute("INSERT INTO Customer_orders (order_id, product_id, quantity_ordered, unit_price, total_price) VALUES (%s, %s, %s, %s, %s)", (order_id, product_id, quantity_ordered, price, total_price))

            curs.execute("UPDATE Products SET quantity_in_stock = quantity_in_stock - %s WHERE product_id = %s", (quantity_ordered, product_id))

            conn.commit()
            curs.close()
            print("Order placed successfully.")

place_order(1, 1, 2)

# 3. You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

In [10]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                             password='Sravan87630@',
                             host='127.0.0.1',
                             database='problem3'
                            )

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D7904901D0>

In [11]:
curs=conn.cursor()

In [12]:
curs

In [13]:
curs.execute("Create table List(id int primary key auto_increment , name varchar(100),quantity int)")

ProgrammingError: 1050 (42S01): Table 'list' already exists

In [14]:
curs.execute("show tables")
for i in curs:
    print(i)

('list',)

In [15]:
inserting_l="insert into List(name,quantity) values(%s, %s)"
inserting_info=[('Laptop', 50), ('Mobile',30), ('Tab',10)]

curs.executemany(inserting_l,inserting_info)


print(curs.rowcount," rows inserted into the table")

3  rows inserted into the table

In [16]:
selecting_l="select id,name,quantity from List"
curs.execute(selecting_l)

count=curs.fetchall()

quantity_t=sum(i[2] for i in count)

updating_l="update List set quantity = quantity*2"

curs.execute(updating_l)

conn.commit()

In [17]:
curs.execute("select * from List")
for i in curs:
    print(i)

(1, 'Laptop', 200)
(2, 'Mobile', 120)
(3, 'Tab', 40)
(4, 'Laptop', 200)
(5, 'Mobile', 120)
(6, 'Tab', 40)
(13, 'Laptop', 200)
(14, 'Mobile', 120)
(15, 'Tab', 40)
(16, 'Laptop', 100)
(17, 'Mobile', 60)
(18, 'Tab', 20)

# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

In [18]:
import mysql.connector

conn=mysql.connector.connect(user='root',
                             password='Sravan87630@',
                             host='127.0.0.1',
                             database='problem4'
                            )

print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D7904A2B10>

In [19]:
curs=conn.cursor()

In [20]:
curs

In [21]:
curs.execute("Create table Company(emp_id int primary key auto_increment , emp_name varchar(100) not null,emp_salary decimal(10,2) not null, emp_department varchar(100) not null,emp_hire date not null)")

ProgrammingError: 1050 (42S01): Table 'company' already exists

In [22]:
curs.execute("show tables")
for i in curs:
    print(i)

('company',)

In [23]:
insert_data ="insert into Company(emp_name,emp_salary,emp_department,emp_hire) values(%s,%s,%s,%s)"

employees_data =[('Sravan',30000.00,'Devlopment','2023-08-16'),
                ('Pavan',80000.00,'Project','2018-06-23'),
                ('Govind',75000.00,'Techinal','2020-02-18'),
                ('Lohith',74000.00,'Operations','2021-12-26')]
curs.executemany(insert_data, employees_data)

In [24]:
def emp_dept(emp_department):
    func="select * from Company where emp_department= %s"
    curs.execute(func,(emp_department,))
    
    count = curs.fetchall()
    for i in count:
        print(f"Employee Id: {i[0]}, Employee Name: {i[1]}, Employee Salary:{i[2]}, Employee Department:{i[3]} , Employee Hire Date:{i[4]}")

In [25]:
def update_emp(emp_id, salary_add):
    update_data = "update Company set emp_salary = %s where emp_id = %s"
    curs.execute(update_data,(salary_add,emp_id))
    conn.commit()

In [26]:
emp_dept('Devlopment')

Employee Id: 17, Employee Name: Sravan, Employee Salary:30000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 21, Employee Name: Sravan, Employee Salary:30000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 25, Employee Name: Sravan, Employee Salary:100000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 29, Employee Name: Sravan, Employee Salary:30000, Employee Department:Devlopment , Employee Hire Date:2023-08-16

In [27]:
update_emp(29,100000.00)

In [28]:
emp_dept('Devlopment')

Employee Id: 17, Employee Name: Sravan, Employee Salary:30000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 21, Employee Name: Sravan, Employee Salary:30000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 25, Employee Name: Sravan, Employee Salary:100000, Employee Department:Devlopment , Employee Hire Date:2023-08-16
Employee Id: 29, Employee Name: Sravan, Employee Salary:100000, Employee Department:Devlopment , Employee Hire Date:2023-08-16

# Modules and Virtual Environments


1. Module Import and Management
Scenario: You are developing a complex Python project with multiple modules. To manage the project effectively, you need to import and use various modules. Additionally, you want to organize your code using namespaces and avoid naming conflicts.

In [ ]:
def mod_ques():
    print("module1")

mod1_var = "Variable from module1"

In [ ]:
def print_var(variable):
    print("Variable from module2 {} ".format(variable))

m2_var = "Hello I am in module2"

In [ ]:
try:
    import module1
    import module2
    module1.mod_ques()
    module2.print_var(module2.m2_var)
    
except ImportError as e:
    print(f"Error importing module: {e}")
    
except AttributeError as e:
    print(f"AttributeError: {e}")

except Exception as e:
    print(f"An error occurred: {e}")

# 2. Virtual Environment Management

Scenario: You are working on multiple Python projects with different dependencies and versions. To avoid conflicts and ensure project isolation, you decide to use virtual environments.

In [ ]:
(base) C:\Users\Sravan Kumar>pip install virtualenv

In [ ]:
(base) C:\Users\Sravan Kumar>python -m venv venv_project

In [ ]:
(base) C:\Users\Sravan Kumar>cd venv_project

In [ ]:
(base) C:\Users\Sravan Kumar\venv_project>cd Scripts

In [ ]:
(base) C:\Users\Sravan Kumar\venv_project\Scripts>activate

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project\Scripts>pip install numpy

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project\Scripts>deactivate

# 3. Module Dependency Resolution

Scenario: You are developing a Python application that relies on third-party packages. Managing dependencies and ensuring compatibility is crucial for your project's success.

In [ ]:
(base) C:\Users\Sravan Kumar>cd venv_project

In [ ]:
(base) C:\Users\Sravan Kumar\venv_project>cd Scripts

In [ ]:
(base) C:\Users\Sravan Kumar\venv_project\Scripts>activate

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project\Scripts>cd..

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project>pip freeze > requirements.txt

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project>pip install -r requirements.txt

In [ ]:
(venv_project) (base) C:\Users\Sravan Kumar\venv_project>deactivate

In [ ]:
(base) C:\Users\Sravan Kumar\venv_project>